:local .container {
  width: 98%;
  height: 95vh;
  display: flex;
  flex-direction: row;
  padding: .5rem;
  border: 1px solid #e2e2e2;
  margin: .5rem;
}

:local .types {
  flex: 1;
  border-right: 1px solid #e2e2e2;
  overflow: auto;
}

:local .todos {
  flex: 5;
}